/* Color Pallete */
/*  Base: #35638A
    Text: #3C4856
    Yellow Accent: #E29E21
    Blue-White Accent: #e7f2f8

*/
.navbar-dark{
    background-color: #35638a;
}

.header {
    padding: .5rem 1rem;
    margin-bottom: 15px;
    background-color: #e7f2f8;
    color: #3C4856
}

.body-padded {
    margin: 0% 10% 0% 10%;
}

.para-padded {
    padding: 20px 0px 20px 0px;
}